services:
  # FRONTEND: Static website
  - type: static
    name: bndlabs-frontend
    env: static
    repo: https://github.com/godadcore/bndlabs-frontend
    branch: main
    buildCommand: ""
    publishPath: .
    routes:
      # Route setup
      - type: rewrite
        source: /
        destination: /home.html

      - type: rewrite
        source: /about
        destination: /about.html

      - type: rewrite
        source: /portfolio
        destination: /portfolio.html

      - type: rewrite
        source: /blog
        destination: /blog.html

      - type: rewrite
        source: /contact
        destination: /contact.html

      - type: rewrite
        source: /*
        destination: /:splat

  # BACKEND: Express CMS API
  - type: web
    name: bndlabs-backend
    env: node
    repo: https://github.com/godadcore/bndlabs-backend
    branch: main
    buildCommand: npm install
    startCommand: node server.js
    plan: free
    envVars:
      - key: NODE_VERSION
        value: 18
